.CardContainer {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }  

/* ProfileSection */
.ProfileSection {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .ProfileSection h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-section p {
    margin-bottom: 5px;
  }
  
  .ProfileSection img {
    max-width: 20px;
  }
  
  /* SavedTracksSection */
  .SavedTracksSection {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .SavedTracksSection h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .SavedTracksSection ul {
    list-style: none;
    padding: 0;
  }
  
  .SavedTracksSection li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .SavedTracksSection li img {
    max-width: 40px;
    margin-right: 10px;
  }
  
  .SavedTracksSection li p {
    margin: 0;
  }
  
  .SavedTracksSection li div {
    display: flex;
    flex-direction: column;
  }
  
  /* UserPlaylistsSection */
  .UserPlaylistsSection {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .UserPlaylistsSection h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .UserPlaylistsSection ul {
    list-style: none;
    padding: 0;
  }
  
  .UserPlaylistsSection li {
    margin-bottom: 10px;
  }
  
  .UserPlaylistsSection li p {
    margin: 0;
  }
  
  .UserPlaylistsSection li img {
    max-width: 40px;
    margin-right: 10px;
  }
  
  /* TopArtistsSection */
  .TopArtistsSection {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .TopArtistsSection h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .TopArtistsSection ul {
    list-style: none;
    padding: 0;
  }
  
  .TopArtistsSection li {
    margin-bottom: 10px;
  }
  
  .TopArtistsSection li p {
    margin: 0;
  }
  
  .TopArtistsSection li img {
    max-width: 40px;
    margin-right: 10px;
  }
  
  /* UserTopTracksSection */
  .UserTopTracksSection {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .UserTopTracksSection h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .UserTopTracksSection ul {
    list-style: none;
    padding: 0;
  }
  
  .UserTopTracksSection li {
    margin-bottom: 10px;
  }
  
  .UserTopTracksSection li p {
    margin: 0;
  }
  
  .UserTopTracksSection li img {
    max-width: 40px;
    margin-right: 10px;
  }
  
  /* UserTopGenresSection */
  .UserTopGenresSection {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin-bottom: 10px;
  }
  
  .UserTopGenresSection h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .UserTopGenresSection ul {
    list-style: none;
    padding: 0;
  }
  
  .UserTopGenresSection li {
    margin-bottom: 10px;
  }
  
  .UserTopGenresSection li {
    margin: 0;
  }
  