.ProfileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ProfileSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ProfileSection p {
  margin-bottom: 5px;
}

.ProfileSection img {
  width: 50px;
  height: 50px;
}

.SavedTracksSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 600px;
  position: absolute;
  top: 35%;
  left: 70%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.SavedTracksSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.SavedTracksSection p {
  margin-bottom: 5px;
}

.SavedTracksSection img {
  width: 50px;
  height: 50px;
}

.UserPlaylistsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 600px;
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.UserPlaylistsSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.UserPlaylistsSection p {
  margin-bottom: 5px;
}

.UserPlaylistsSection img {
  width: 50px;
  height: 50px;
}

.TopArtistsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.TopArtistsSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.TopArtistsSection p {
  margin-bottom: 5px;
}

.TopArtistsSection img {
  width: 50px;
  height: 50px;
}

.UserTopTracksSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  height: 600px;
  position: absolute;
  top: 40%;
  left: 11%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.UserTopTracksSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.UserTopTracksSection p {
  margin-bottom: 5px;
}

.UserTopTracksSection img {
  width: 50px;
  height: 50px;
}

.UserTopGenresSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  height: 600px;
  position: absolute;
  top: 40%;
  left: 89%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.UserTopGenresSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.UserTopGenresSection p {
  margin-bottom: 5px;
}

.UserTopGenresSection img {
  width: 50px;
  height: 50px;
}
