@keyframes shrinkSection {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

/*Profile*/

.ProfileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  animation: shrinkSection 0.5s linear forwards;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ProfileSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.ProfileSection p {
  margin-bottom: 5px;
}

.ProfileSection img {
  width: 50px;
  height: 50px;
}

.ProfileSection::-webkit-scrollbar {
  width: 5px;
}

.ProfileSection::-webkit-scrollbar-thumb {
  background: #b3b3b3b4;
  border-radius: 4px;
}

.ProfileSection::-webkit-scrollbar-thumb:hover {
  background: #55555580;
}

/*Saved Tracks*/

.SavedTracksSection {
  align-items: center;
  width: 300px;
  height: 600px;
  position: absolute;
  top: 35%;
  left: 70%;
  transform: translate(-50%, -50%);
  overflow: auto;
  font-family: sans-serif;
  animation: shrinkSection 0.5s linear forwards;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.SavedTracksSection h3 {
  padding: 1%;
  text-align: center;
}

.SavedTracksSection li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.SavedTracksSection li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.SavedTracksSection img {
  width: 70px;
  height: 70px;
}

.SavedTracksSection p {
  margin-bottom: 5px;
}

.SavedTracksSection p:nth-child(1) {
  font-weight: bold;
}

.SavedTracksSection div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.SavedTracksSection::-webkit-scrollbar {
  width: 5px;
}

.SavedTracksSection::-webkit-scrollbar-thumb {
  background: #b3b3b3b4;
  border-radius: 10px;
}

.SavedTracksSection::-webkit-scrollbar-thumb:hover {
  background: #55555580;
}

/*Playlist*/

.UserPlaylistsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 600px;
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  animation: shrinkSection 0.5s linear forwards;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.UserPlaylistsSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.UserPlaylistsSection p {
  margin-bottom: 5px;
}

.UserPlaylistsSection img {
  width: 50px;
  height: 50px;
}

.UserPlaylistsSection::-webkit-scrollbar {
  width: 5px;
}

.UserPlaylistsSection::-webkit-scrollbar-thumb {
  background: #b3b3b3b4;
  border-radius: 4px;
}

.UserPlaylistsSection::-webkit-scrollbar-thumb:hover {
  background: #55555580;
}


/*Top Artists*/

.TopArtistsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  animation: shrinkSection 0.5s linear forwards;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.TopArtistsSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.TopArtistsSection p {
  margin-bottom: 5px;
}

.TopArtistsSection img {
  width: 50px;
  height: 50px;
}

.TopArtistsSection::-webkit-scrollbar {
  width: 5px;
}

.TopArtistsSection::-webkit-scrollbar-thumb {
  background: #b3b3b3b4;
  border-radius: 4px;
}

.TopArtistsSection::-webkit-scrollbar-thumb:hover {
  background: #55555580;
}

/*Top Tracks*/

.UserTopTracksSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  height: 600px;
  position: absolute;
  top: 40%;
  left: 11%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  animation: shrinkSection 0.5s linear forwards;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.UserTopTracksSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.UserTopTracksSection p {
  margin-bottom: 5px;
}

.UserTopTracksSection img {
  width: 50px;
  height: 50px;
}

.UserTopTracksSection::-webkit-scrollbar {
  width: 5px;
}

.UserTopTracksSection::-webkit-scrollbar-thumb {
  background: #b3b3b3b4;
  border-radius: 4px;
}

.UserTopTracksSection::-webkit-scrollbar-thumb:hover {
  background: #55555580;
}


/*Top Generes*/

.UserTopGenresSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  height: 600px;
  position: absolute;
  top: 40%;
  left: 89%;
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  animation: shrinkSection 0.5s linear forwards;
  border-radius: 10px;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.UserTopGenresSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.UserTopGenresSection p {
  margin-bottom: 5px;
}

.UserTopGenresSection img {
  width: 50px;
  height: 50px;
}

.UserTopGenresSection::-webkit-scrollbar {
  width: 5px;
}

.UserTopGenresSection::-webkit-scrollbar-thumb {
  background: #b3b3b3b4;
  border-radius: 4px;
}

.UserTopGenresSection::-webkit-scrollbar-thumb:hover {
  background: #55555580;
}
